<div class="footer footer-center-ry">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffly-me-nowv2.herokuapp.com%2Fairplanes&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

