.footer {
  background:linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,0.5));
  display: flex;
  align-items: center;
  justify-content: space-arround;
  height: 100px;
  padding: 0px 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgba(255,255,255,1);
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
