.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid grey;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.round-shadow{
  // border:2px blue solid;
  border-radius: 90px;
  box-shadow: 0px 0px 20px white;

}
