// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "components/search_bar";
@import "pages/index";
@import "pages/map";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Roboto&display=swap');

body {
  background-image: linear-gradient(rgba(255,255,255,0.4),rgba(0,0,0,0.7)), url("https://media.istockphoto.com/photos/blue-sky-and-white-clouds-background-picture-id825778252?k=6&m=825778252&s=612x612&w=0&h=VPlp3pwPLCK2fUhhLEO_p-hdQ7Pa1CVtLcAHZBLv4cM=");
  background-size: cover;
  background-position: center;
  font-family: 'Roboto';

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond';
  }

  p {
    font-family: 'Roboto';
  }
}

